* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-com {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    max-width: 1580px;
    width: 100%;
    padding: 20px 160px;
}

.pp {
    font-size: 15px;
    color: #757575;
    left: 90px;
}

.enroll {
    width: 117px;
    height: 30px;
    background-color: #E48D8B;
    color: white;
}

.pink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1580px;
    width: 100%;
    padding: 80px 180px;
}

.text1 {
    width: 494px;
    font-size: 55px;
}

.pp1 {
    padding: 30px 0;
    width: 460px;
    font-size: 25px;
    line-height: 1.4;
}

.h189 {
    color: black;
    margin-top: -20px;
    font-size: 30px;
}

.button1 {
    width: 150px;
    height: 40px;
    background: #E48D8B;
    color: white;
    margin-top: 28px;
}

.button2 {
    width: 165px;
    height: 40px;
    font-size: 16px;
    margin-left: 15px;
    background-color: #EDEDED;
    color: #757575;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
}

.microfon h1 {
    width: 334px;
    height: 64px;
}

.microfon p {
    width: 321px;
    height: 108px;
    line-height: 1.5;
}



.section3 {
    display: flex;
}

.hh1h {
    width: 500px;
    height: 92px;
    font-size: 40px;
    margin-top: 134px;
    margin-left: 80px;
}

.pp3 {
    width: 493px;
    height: 135px;
    margin-top: 245px;
    margin-left: -500px;
    font-size: 22px;
}

.section4 {
    display: flex;
}

.hh2h {
    width: 500px;
    height: 92px;
    font-size: 40px;
    margin-top: 134px;
}

.pp4 {
    width: 493px;
    height: 135px;
    margin-top: 245px;
    margin-left: -500px;
    font-size: 22px;
}

.video3 {
    margin-left: 150px;
}


.section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: 300px;
    background-color: #017cff;
    color: white;
}
.whatt{
    display: flex;
    margin-left: 140px;
}
.h1p h1{
   font-size: 60px;
}
.what{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.h1p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 80px;
    grid-gap: 30px;

}
.h1p p {
    display: grid;
    margin-top: 25px;
}


.section6{
    display: flex;
}
.thee{
    font-size: 10px;
}